* {
    display: border-box;
}

div {
    font-size: 20px;
    border: 2px solid #876ED7;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
}

button {
    font-size: 20px;
    border: 2px solid #412C84;
    color: white;
    border-radius: 5px;
    width: 150px;
    background-color: #876ED7;
}